*{
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-container {
    background-color: black;
    position: sticky;
    top: 0px;
}
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.nav-flex label,#hamburger {
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}nav ul li a:hover {
    background-color: darkgray;
    transition: all 0.3s;
}
.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: goldenrod; 
    font-style: oblique;
}
#hero-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.button {
    text-decoration: 0;
    display: inline-block;
    margin-top: 10px;
    background-color: #36454F;
    padding: 10px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 10px;
    
}   
.button:hover {
    background-color:black;
    color: var(--cyan);
}
main {
width: 80%;
margin: auto;
}

/* contact */

#contact h1 {
    margin-top: 80px;
    text-align: center;
    color:whitesmoke;
    background-color: #203030;
}
.contact-flex {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 100%
}
.map {
    width: 55%;
}
.map h3 {
    text-align: center;
    color: #203030;
}
.map iframe {
    border-radius: 10px;
}
.social-media {
    width: 40%;
    padding: 10px;
}
.social-media h3 {
    text-align: center;
    color: #203030;
}
.social-img {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: #203030;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

#reportform {
    background-color: rgb(61, 60, 60);
    color: #fafdfd;
    border: none;
    padding: 7px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}
#reportform:hover {
    background-color: #252b25;
}

#report h1 {
    margin-top: 80px;
    text-align: center;
    color:whitesmoke;
    background-color: #203030;
}
#report p {
    color: #203030;
}
#text {
    border: none;
    width: 1000px;
    height: 40px;
    background-color: rgb(184, 181, 181);
    border-radius: 10px;
    margin-bottom: 20px;
}
#repbut {
    background-color: rgb(36, 212, 36);
    color: #fafdfd;
    border: none;
    padding: 7px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}
#repbut:hover {
    background-color: #75d17a;
}

.contact-left-title h1 {
    font-weight: 600;
    color: #203030;
}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 20px;
}
