*{
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-container {
    background-color: black;
    position: sticky;
    top: 0px;
}
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.nav-flex label,#hamburger {
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}nav ul li a:hover {
    background-color: darkgray;
    transition: all 0.3s;
}
.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: goldenrod; 
    font-style: oblique;
}
#hero-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.button {
    text-decoration: 0;
    display: inline-block;
    margin-top: 10px;
    background-color: #36454F;
    padding: 10px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 10px;
    
}   
.button:hover {
    background-color:black;
    color: var(--cyan);
}
main {
width: 80%;
margin: auto;
}

#Achievements h1 {
    color: whitesmoke;
    background-color: #203030;
    text-align: center;
    margin-top: 80px;
}
.Achievements-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.Achievements-items {
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}
.Achievements-items img {
    width: 100%;
    border-radius: 10px;
    object-fit: auto;
}
.Achievements-items h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #203030;
}
.Achievements-items p {
    font-size: 16px;
    color: #323838;
}
.price-chat-container {
    border-bottom: 2px solid var(--brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.price-harga span {
    font-size: 15px;
    font-weight: bold;
    color: rgb(6, 194, 62);
}
.chat-button button {
    background-color: rgb(24, 26, 24);
    color: #cdd1d1;
    border: none;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.chat-button button:hover {
    background-color: #7b8a8a;
}
