:root {
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan: #e0ffff;
    --brown: #3e2723;
    --green: #25d366;
}
*{
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-container {
    background-color: black;
    position: sticky;
    top: 0px;
}
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.nav-flex label,#hamburger {
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}nav ul li a:hover {
    background-color: darkgray;
    transition: all 0.3s;
}
.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: goldenrod; 
    font-style: oblique;
}
#hero-container {
    background-image: url(../image/luxury-black-wave-background-vector-43391571.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.button {
    text-decoration: 0;
    display: inline-block;
    margin-top: 10px;
    background-color: #36454F;
    padding: 10px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 10px;
    
}   
.button:hover {
    background-color:black;
    color: var(--cyan);
}
main {
width: 80%;
margin: auto;
}


    /* tablet*/
@media screen and (max-width:768px) {
    /* tampilkan icon hamburger */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }
    /* susun ulang menu menjadi vertikal */
    #nav-container .nav-flex {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }
    /* pindahkan posisi brand ke kanan, dan perkecil */
    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }
    /* untuk menampilkan atau menyembunyikan menu */
    #nav-container nav {
        display: none;
    }
    /* menampilkan menu ketika hamburger di klik */
    #nav-container .nav-flex input:checked ~ nav {
        display: flex;
    }
    /* About */
    .about-flex {
        flex-direction: column;
    }
    .about-image,.about-text {
        width: auto;
    }

    /* our service */
.services-items {
    width: 50%;
}
    /* catalog */
.catalog-items {
    width: 50%;
}

    /* handphone */
@media screen and(max-width:481px) {
    /* service */
    .services-items {
        width: 100%;
    }
}
    /* catalog */
    .catalog-items {
        width: 100%;
    }
}