:root {
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan: #e0ffff;
    --brown: #3e2723;
    --green: #25d366;
}
*{
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-container {
    background-color: black;
    position: sticky;
    top: 0px;
}
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
.nav-flex label,#hamburger {
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: white;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}nav ul li a:hover {
    background-color: darkgray;
    transition: all 0.3s;
}
.nav-brand h2 {
    margin: 14px 0 0 10px;
    color: goldenrod; 
    font-style: oblique;
}
#hero-container {
    background-image: url(../image/luxury-black-wave-background-vector-43391571.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.button {
    text-decoration: 0;
    display: inline-block;
    margin-top: 10px;
    background-color: #36454F;
    padding: 10px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 10px;
    
}   
.button:hover {
    background-color:black;
    color: var(--cyan);
}
main {
width: 80%;
margin: auto;
}
/* about */
#about h1 {
    color: whitesmoke;
    background-color: #203030;
    text-align: center;
    margin-top: 80px;
}
#about .about-description {
    text-align: center;
    color: var(--dark);
}
.about-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto;
}
.about-image,about-text{
    width: 50%;
    margin: 14px;
}
.about-image img {
    width: 100%;
    object-fit: cover;
}
#service h1 {
    color: whitesmoke;
    background-color: #203030;
    text-align: center;
    margin-top: 80px;
}
#service .service-description {
    text-align: center;
    color:black;
}
.services-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
}
.services-items {
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}
#catalog h1 {
    color: whitesmoke;
    background-color: #203030;
    text-align: center;
    margin-top: 80px;
}
.catalog-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.catalog-items {
    width: 25%;
    text-align: center;
    padding: 20px 10px;
}
.catalog-items img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.catalog-items h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #203030;
}
.catalog-items p {
    font-size: 16px;
    color: #323838;
}
.price-chat-container {
    border-bottom: 2px solid var(--brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.price-harga span {
    font-size: 15px;
    font-weight: bold;
    color: rgb(6, 194, 62);
}
.chat-button button {
    background-color: rgb(24, 26, 24);
    color: #cdd1d1;
    border: none;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
.chat-button button:hover {
    background-color: #7b8a8a;
}
.report-button button {
    background-color: rgb(212, 36, 36);
    color: #cdd1d1;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.report-button button:hover {
    background-color: #e45940;
}

/* contact */

#contact h1 {
    margin-top: 80px;
    text-align: center;
    color:whitesmoke;
    background-color: #203030;
}
.contact-flex {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 100%
}
.map {
    width: 55%;
}
.map h3 {
    text-align: center;
    color: #203030;
}
.map iframe {
    border-radius: 10px;
}
.social-media {
    width: 40%;
    padding: 10px;
}
.social-media h3 {
    text-align: center;
    color: #203030;
}
.social-icon {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: #203030;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}
#report h1 {
    margin-top: 80px;
    text-align: center;
    color:whitesmoke;
    background-color: #203030;
}
#report p {
    color: #203030;
}
#repbut {
    background-color: rgb(36, 212, 36);
    color: #fafdfd;
    border: none;
    padding: 7px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}
#repbut:hover {
    background-color: #75d17a;
}

    /* tablet*/
@media screen and (max-width:768px) {
    /* tampilkan icon hamburger */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }
    /* susun ulang menu menjadi vertikal */
    #nav-container .nav-flex {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }
    /* pindahkan posisi brand ke kanan, dan perkecil */
    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }
    /* untuk menampilkan atau menyembunyikan menu */
    #nav-container nav {
        display: none;
    }
    /* menampilkan menu ketika hamburger di klik */
    #nav-container .nav-flex input:checked ~ nav {
        display: flex;
    }
    /* About */
    .about-flex {
        flex-direction: column;
    }
    .about-image,.about-text {
        width: auto;
    }

    /* our service */
.services-items {
    width: 50%;
}
    /* catalog */
.catalog-items {
    width: 50%;
}

    /* handphone */
@media screen and(max-width:481px) {
    /* service */
    .services-items {
        width: 100%;
    }
}
    /* catalog */
    .catalog-items {
        width: 100%;
    }
}